<h1><%= @user.username %>'s Profile</h1>

First Name: <%= @user.first_name %><br>
Last Name: <%= @user.last_name %><br>
Bio: <%= @user.bio %><br>
Email: <%= @user.email %><br>

<h2><%= @user.first_name %>'s Goals:</h2>
<ul><% @user.likes.each do |like| %>
<li><%= link_to like.goal.title, goal_path(like.goal)%>
  <p>Description: <%= like.description %></p>
  <p>To Be Completed By: <%= like.stringify_timeline %> 
</li>
<% end %>
</ul>
