<h1><%= @user.username %>'s Profile</h1>

First Name: <%= @user.first_name %>
Last Name: <%= @user.last_name %><br>
Bio: <%= @user.bio %><br>
Email: <%= @user.email %><br>

<div class="goal-block">
  <h2><%= @user.first_name %>'s Goals:</h2>
  <ul class="goals-list"><% @user.likes.each do |like| %>
      <li><%= link_to like.goal.title, goal_path(like.goal)%>
          <div class="float-right">
            <% if @user == get_current_user %>
              <%= link_to "Edit this goal", edit_like_path(like) %> <br>
              <%= link_to "Add a step for this goal", new_like_step_path(like) %>
              <div class="delete-button block">
                <%= form_tag like_path(like), method: "DELETE" do %>
                  <%= submit_tag "Remove this goal from your bucketlist" %>
                <% end %>
              </div>
            <% end %>
          </div>
        <p>Description: <%= like.description %></p>
        <p>To Be Completed By: <%= like.stringify_timeline %></p>
        <p><%= link_to like.display_count, like_path(like) %> in progress</p>
      </li>
    <% end %>
  </ul>
</div>
