<h1 class="portal-title">Hi <%= @user.first_name ? @user.first_name : @user.username %></h1>

<div class="image-gallery">
      <img class='gallery-img' src="assets/alhambra" alt="alhambra">
      <img class='gallery-img' src="assets/grand_canyon_hike" alt="grand canyon">
      <img class='gallery-img' src="assets/skydiving" alt="skydiving">
      <img class='gallery-img' src="assets/pasta.jpg" alt="pasta">
      <img class='gallery-img' src="assets/white_temple.jpg" alt="white temple">
</div>

<div class="current-goals">
  <% if @user.likes.present? %>
    <h2 class="portal-subheader">Here are your current goals:</h2>
    <ul class="goals-list">
      <% @user.likes.each do |like| %>
        <li>
          <%= link_to like.title, goal_path(like.goal_id), class: "goal-link" %>
          <%= form_tag like_path(like), method: "DELETE", class: "delete-button float-right" do %>
            <%= submit_tag "Delete" %>
          <% end %>
          <%= link_to "Add a step", new_like_step_path(like), class: "edit-link float-right" %>
          <%= link_to "Edit Goal", edit_like_path(like), class: "float-right"  %>
          <p>You currently have <%= link_to like.display_count, like_path(like) %> for this goal</p>
        </li>
      <% end %>
    </ul>
  <% else %>

    <h2 class="portal-subheader">Your bucketlist is empty</h2>
    <ul class="goals-list">
      <li><%= link_to "Add a goal", new_goal_path %></li>
      <li><%= link_to "Browse Goals", goals_path %></li>
    </ul>
  <% end %>


</div>
